head
    meta(charset='utf-8', http-equiv='X-UA-Compatible' content='IE=edge', name='viewport',
        initial-scale='1.0')
    title=title
    style
        include ../css/main.css
        include ../css/bootstrap.min.css
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
