ul
    each val in [{'url':'login','title':'Login'},{'url':'lobby','title':'Lobby'},{'url':'room','title':'Room'}, {'url':'register','title':'Register'}]
        li
            a(href='/'+val.url)= val.title
