html
    include includes/head
    body
        h2.block-panel-heading ERROR OCCURRED
        p=error
        script(src='https://code.jquery.com/jquery.js')
            include js/bootstrap.min.js
