html
    include includes/head
    body
        h3 you aren't a member
        a(href='/join')
            button.btn-primary.btn-block Join
        script(src='https://code.jquery.com/jquery.js')
            include js/bootstrap.min.js
