html
    include includes/head
    body
        include includes/nav
        form.block-panel(action='/auth' method='POST')
            h2.block-panel-heading Register new account
            input.form-control.credentials(placeholder="Email address" name='email' required="" autofocus="")
            input.form-control.credentials(type="password" placeholder="Password" name='password' required="")
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Register
        script(src='https://code.jquery.com/jquery.js')
            include js/bootstrap.min.js
