html
    include includes/head
    body
        form.block-panel(action='/newUser' method='POST')
            h2.block-panel-heading New account
            input.form-control.credentials(placeholder="Username" name='username' required="" autofocus="")
            input.form-control.credentials(placeholder="Email address" name='email' required="")
            input.form-control.credentials(type="password" placeholder="Password" name='password' required="")
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Register
            a(href='/login') Login
        script(src='https://code.jquery.com/jquery.js')
            include js/bootstrap.min.js
